assignment1.txt
[{"id":"7ef9e9e7.d4a5d8","type":"random","z":"44920baf.11d464","name":"","low":"1","high":"10","inte":"true","property":"payload","x":525.7142944335938,"y":191.42857360839844,"wires":[["cf1d23b7.5c11d"]]},{"id":"8a664e7b.30c8","type":"debug","z":"44920baf.11d464","name":"Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":787.5714797973633,"y":298.1428852081299,"wires":[]},{"id":"9eeef0d5.436b5","type":"inject","z":"44920baf.11d464","name":"","topic":"a","payload":"","payloadType":"num","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":225.4285707473755,"y":265.14287853240967,"wires":[["7ef9e9e7.d4a5d8"]]},{"id":"cf1d23b7.5c11d","type":"function","z":"44920baf.11d464","name":"Assignment_1","func":"if(msg.payload < 5){\nreturn {payload:\"Number \"+msg.payload+\" is a low number\"};\n}\nelse if(msg.payload >=5){\nreturn {payload:\"Number \"+msg.payload+\" is a high number\" }\n}","outputs":1,"noerr":0,"x":519.5714645385742,"y":453.0000219345093,"wires":[["8a664e7b.30c8"]]}]